.meio {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* width: 1398px; */
    /* height: 500px; */
    background: linear-gradient(var(--corPreta), var(--corCinza2), var(--corCinza2),  var(--corCinza2),  var(--corCinza2), var(--corBranca));
    /* box-shadow: 0px 0px 10px var(--corVermelha), 3px 3px 10px var(--corVermelha); */
    /* background: url(../img/background2.jpg); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.botao__voltar--topo {
    color: var(--corBranca);
    position: fixed;
    width: 150px;
    height: 50px;
    right: 50px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    background: #8C0327;
    box-shadow: inset -13px -13px 26px #380110,
            inset 13px 13px 26px #e0053e;
}

.frase__efeito {
    color: var(--corBranca);
    font-size: 80px;
    width: 1000px;
    /* margin-top: 225px; */
    margin-left: 225px;
    margin-top: -345px;
    opacity: calc(100%);
    filter: drop-shadow(0 0 20px var(--corLinkcabecalho));
}

.meio__video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.sub__video {
    font-size: 25px;
    color: var(--corBranca);
    margin-bottom: 20px;
}

.meio__história {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--corCinza2);
    /* text-align: center; */
    margin-top: 200px;
    width: 800px;
    padding: 50px 50px 20px 50px;
    margin-bottom: 40px;
    margin-left: 225px;
    border-radius: 30px;
    background: #403939;
    box-shadow: inset -12px -12px 24px #2c2727,
            inset 12px 12px 24px #544b4b;
}

.meio__titulo {
    font-size: 35px;
    margin-bottom: 30px;
    margin-left: 36.5%;
    color: #e0053e;
    font-weight: bold;
    opacity: calc(100%);
    filter: drop-shadow(12px 10px 5px var(--corLinkcabecalho));
}

.meio__texto {
    font-size: 23px;
    line-height: 1.3;
    color: var(--corBranca2);
}

.meio__cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.meio__imagem--fundo--cadastro {
    width: 800px;
    height: 600px;
    background: url(../assets/imgs/banner4.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.meio__cadastro--input {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background: var(--corVerm2);
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.meio__cadastro--input:hover {
    padding: 18%;
}

.titulo__meio {
    font-size: 35px;
    color: var(--corBranca);
}

.titulo__cadastro {
    width: 300px;
    font-size: 20px;
    color: var(--corBranca);
}

.titulo__input--meio {
    font-size: 22px;
    color: var(--corBranca);
    margin-bottom: 5px;
    margin-top: 5px;
}

.inputs__cadastro--meio {
    border-radius: 8px;
}

.botao__cadastro--meio {
    font-size: 20px;
    width: 110px;
    background: transparent;
    border: none;
    color: var(--corBranca);
    margin-top: 20px;
    /* margin-left: 46px; */
    transition: 1s;
}

.botao__login--meio {
    font-size: 20px;
    width: 60px;
    background: transparent;
    border: none;
    color: var(--corBranca);
    margin-top: 20px;
    /* margin-left: 46px; */
    transition: 1s;
}

.botao__cadastro--meio:hover {
    background: #f7d21e;
    /* width: 110px;
    /* font-size: 22px; */
    border-radius: 10px;
}

.botao__login--meio:hover {
    background: var(--corWhite);
    border-radius: 10px;
}


.resultado {
    display: flex;
    flex-direction: column;
}

.titulo__resultado {
    font-size: 25px;
    color: var(--corBranca);
    margin-bottom: 30px;
}

.meio__resultado {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: center;
    align-items: center;
}

.sec__chassi {
    display: flex;
    flex-direction: row;
}

.div__check {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.nomeCheck {
    font-size: 25px;
    color: var(--corBranca);
    margin-bottom: 15px;
}

.check {
    margin-top: 30px;
    width: 100px;
    height: 20px;
    color: #e0053e;
    font-size: 50x;
}

.sec__motor {
    display: flex;
    flex-direction: row;
}

.sec__pista {
    display: flex;
    flex-direction: row;
}

.subTitulo__resultado {
    font-size: 40px;
    color: var(--corBranca);
    margin-top: 120px;
}

.img__resultado {
    width: 400px;
    height: 300px;
    margin-right: 28px;
    margin-left: 20px;
}

.bot__confirm {
    display: flex;
    flex-direction: row;
}

.botao__check {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 18px;
    width: 150px;
    height: 50px;
    color: var(--corBranca);
    border: none;
    border-radius: 20px;
    background: #8C0327;
    box-shadow: inset -13px -13px 26px #380110,
            inset 13px 13px 26px #e0053e;
}

#mensagem {
    margin-top: 50px;
    font-size: 20px;
    padding: 4%;
    color: var(--corBranca);
    width: 500px;
    border-radius: 20px;
    background: #8C0327;
    box-shadow: inset -13px -13px 26px #380110,
            inset 13px 13px 26px #e0053e;
}

.msg__validação {
    color: var(--corBranca);
    font-size: 20px;
}


.msg__deuTudoCerto {
    color: var(--corBranca);
    font-size: 40px;
}