.Dash__pai {
    display: flex;
    margin-top: 5vh;
    flex-direction: row;
    background: linear-gradient(#158ecf23, #79ebc94d, transparent);
}


.painel__Dash {
    display: flex;
    flex-direction: column;
    width: 10vh;
    justify-content: center;
    margin-left: 2vw;
}

.caminhão__painel {
    width: 3.5vw;
    margin: 0.4vh 0.4vw 0.4vh 0.4vw;
}

.painel__KPI {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.KPI1 {
    background: #E84747;
    box-shadow: 9px 9px 35px #0C567D;
    border-radius: 18.3vw;
    height: 12vh;
    width: 20vw;
    margin: 1.5vh 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.KPI2 {
    background: #F5D729;
    box-shadow: 9px 9px 35px #0C567D;
    border-radius: 18.3vw;
    height: 12vh;
    width: 20vw;
    margin: 1.5vh 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.KPI3 {
    background: #74EECA;
    box-shadow: 9px 9px 35px #0C567D;
    border-radius: 18.3vw;
    height: 12vh;
    width: 20vw;
    margin: 1.5vh 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.border_charJs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 4px solid #158FCF;
    border-radius: 10px;
    width: 80vw;
    margin-left: 9.5vw;
    margin-top: 2vh;
}

.charJs {
    width: 75vw;
    height: 40vh;
}



.CardsFinal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10vh;
}


.border_charJs--pizza {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 4px solid #158FCF;
    border-radius: 10px;
    margin-left: 1vw;
    margin-top: 2vh;
}

@media screen and (max-width: 500px) {
    .CardsFinal {
        flex-direction: column;
        align-items: center;
    }

    .miniCards {
        flex-direction: column;
        align-items: center;
    }

    .miniCard__um {
        width: 60vw;
        margin-bottom: 2vh;
        font-size: 2.5vh;
    }

    .miniCard__dois {
        width: 60vw;
        margin-bottom: 2vh;
        font-size: 2.5vh;
    }

    .miniCard__tres {
        width: 60vw;
        font-size: 2.5vh;
    }

}


@media screen and (min-width: 650px) {
    .charJs {
        height: 50vh;
    }
}


@media screen and (min-width: 800px) {
    .border_charJs {
        margin-top: 10vh;
    }

    .charJs {
        height: 50vh;
    }

    .border_charJs--pizza {
        width: 40vw;
    }

}

@media screen and (min-width: 1000px) {
    .border_charJs {
        margin-top: 15vh;
    }

    .charJs {
        height: 70vh;
    }
}